.toggle {
  --toggle-height: 30px;
  position: relative;
}

.toggle input {
  display: none;
}

.toggle .slider {
  border-radius: var(--toggle-height);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  position: relative;
  cursor: pointer;
  width: calc(var(--toggle-height) * 2);
  height: var(--toggle-height);
  display: grid;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.toggle .slider::before {
  border-radius: 50%;
  position: absolute;
  content: '';
  height: calc(var(--toggle-height) * 0.783);
  width: calc(var(--toggle-height) * 0.783);
  left: calc(var(--toggle-height) * 0.107);
  bottom: calc(var(--toggle-height) * 0.107);
  background-color: white;
  display: grid;
  place-content: center;
  z-index: 1;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.toggle input:checked + .slider::before {
  -webkit-transform: translateX(var(--toggle-height));
  -ms-transform: translateX(var(--toggle-height));
  transform: translateX(var(--toggle-height));
}

.toggle .no, .toggle .yes {
  color: white;
  padding-top: calc(var(--toggle-height) * 0.02);
  position: absolute;
  font-size: calc(var(--toggle-height) / 2);
}

.toggle .no {
  place-self: center end;
  padding-right: calc(var(--toggle-height) * 0.4);
}

.toggle .yes {
  place-self: center start;
  padding-left: calc(var(--toggle-height) * 0.4);
}
