@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  line-height: 1.5;
  @apply text-gray-800;
}

h1,
h2,
h3 {
  @apply font-display;
  @apply font-bold;
}

h1 {
  @apply text-3xl;
  @apply text-[1.7rem];
}

h2 {
  @apply text-2xl;
  @apply sm:text-3xl;
}

h3 {
  @apply text-xl;
  @apply sm:text-2xl;
}

header,
main {
  @apply mx-auto;
  @apply px-6;
  @apply md:px-7;
}

nav {
  @apply px-8;
  @apply py-6;
}

.splash {
  @apply px-6;
  @apply md:px-7;
  @apply lg:px-[calc((100vw-(1024px-56px))/2)];
  @apply h-[calc(100vh-68px)];
  background: linear-gradient(217deg, #1e40af, transparent 71%),
    linear-gradient(127deg, #60a5fa, transparent 71%),
    linear-gradient(336deg, #dbeafe, transparent 71%), #38bdf8;
  /* background: linear-gradient(217deg, #075985, transparent 71%),
    linear-gradient(127deg, #0ea5e9, transparent 71%),
    linear-gradient(336deg, #7dd3fc, transparent 71%),
    #0ea5e9; */
}

main {
  @apply pt-2;
  @apply pb-10;
  @apply max-w-screen-lg;
}

/* negative margin to counteract `main`'s padding while small screen */
.sub-msg-margin {
  @apply -mx-6;
  @apply md:-mx-7;
  @apply lg:mx-0;
}

.loading-indicator {
  filter: drop-shadow(0 25px 25px rgb(0 0 0 / 0.15))
    drop-shadow(0 20px 13px rgb(0 0 0 / 0.2))
    drop-shadow(0 8px 5px rgb(0 0 0 / 0.25));
}

path {
  @apply pointer-events-none;
}

.header-shadow {
  @apply border-b;
  @apply border-gray-200;
  @apply shadow-lg;
}

a {
  @apply transition-all;
  @apply hover:text-blue-500;
}

.login {
  @apply text-blue-500;
  @apply hover:text-blue-600;
  @apply font-bold;
}

.input-container {
  @apply flex;
  @apply flex-col;
  @apply gap-1;
}

.input {
  @apply w-full;
  @apply border;
  @apply border-gray-300;
  @apply rounded;
  @apply px-4;
  @apply py-3;
  @apply shadow-inner;
}

.input.error {
  @apply border-2;
  @apply border-red-700;
  @apply bg-red-100;
}

.form-btn {
  @apply transition-all;
  @apply bg-blue-500;
  @apply hover:bg-blue-600;
  @apply text-white;
  @apply text-lg;
  @apply rounded;
  @apply px-4;
  @apply py-3;
  @apply mt-1;
}

.splash .form-btn {
  @apply bg-blue-600;
  @apply hover:bg-blue-700;
}
